h1 {
    margin-top: 40px;
}

.subtitle {
    margin-bottom: 30px;
}

.main {
    border: 1px solid slategrey;
    border-radius: 5px;
}

.center {
    text-align: center
}

@media (min-width: 1081px) {
    .everything {
        margin-left: 25%;
        margin-right: 25%
    }
}

.name {
    padding-left: 5%;
    padding-bottom: 1%;
    color: #606060;
}

.ability {
    padding-left: 5%;
}

.evolution-title {
    padding-top: 4%;
}

.evolution-chain {
    display: flex;
    width: 100%;
    justify-content: center;
}

.evolution-cell {
    cursor: pointer;
}

.move-list {
    padding-top: 3%;
}

.why {
    margin-left: 1%;
}

.no-moves {
    margin-left: 5%;
}

.explanation {
    margin-left: 2%;
}

.list-group-item {
    padding: 3px 0px;
    font-size: 14px;
    text-align: center
}

.badge {
    margin: 1px;
}

.normal {
    background-color: #A8A878;
}

.fire {
    background-color: tomato;
}

.water {
    background-color: cornflowerblue;
}

.grass {
    background-color: limegreen;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: darkviolet;
}

.electric {
    background-color: #F8D030;
    color: #212529;
}

.ground {
    background-color: #E0C068;
}

.psychic {
    background-color: #F85888;
}

.fighting {
    background-color: #C03028;
}

.rock {
    background-color: #B8A038;
}

.ice {
    background-color: #98D8D8;
}

.bug {
    background-color: #A8B820;
}

.dragon {
    background-color: #7038F8;
}

.ghost {
    background-color: #705898;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #EE99AC;
}

.physical {
    color: #FFC645;
    background-color: #C7221B;
}

.special {
    color: #93B2DB;
    background-color: #50586F;
}

.status {
    background-color: #8B878B;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 37px;
    width: calc(100% - 79px);
    border: 1px solid #aaa;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 3;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
